<nav class="navigation">
    <ul class="sidenav">
    <button class="dropdown-btn">Introduction
      <i class="fa fa-angle-down"></i>
    </button>
      <ul class="dropdown-container">
          <li><a href="/introduction">Introduction to Python</a></li>
          <li><a href="/overview">Overview</a></li>
          <li><a href="/environment-setup">Environment Setup</a></li>
      </ul>
      <button class="dropdown-btn">Basics
      <i class="fa fa-angle-down"></i>
    </button>
      <ul class="dropdown-container">
          <li><a href="/basic-syntax">Basic Syntax</a></li>
          <li><a href="/variable-type">Variable types</a></li>
          <li><a href="/basic-operator">Basic Operators</a></li>
      </ul>
      <button class="dropdown-btn">Intermediate
      <i class="fa fa-angle-down"></i>
    </button>
      <ul class="dropdown-container">
          <li><a href="/decision-making">Decision Making</a></li>
          <li><a href="/loops">Loops</a></li>
          <li><a href="/numbers">Numbers</a></li>
          <li><a href="/strings">Strings</a></li>
          <li><a href="/lists">Lists</a></li>
          <li><a href="/tuples">Tuples</a></li>
          <li><a href="/dictionary">Dictionary</a></li>
      </ul>
      <button class="dropdown-btn">Advance
      <i class="fa fa-angle-down"></i>
    </button>
      <ul class="dropdown-container">
          <li><a href="/date-time">Date and Time</a></li>
          <li><a href="/functions">Functions</a></li>
          <li><a href="/modules">Modules</a></li>
          <li><a href="/fileio">Files I/O</a></li>
          <li><a href="/exceptions">Exceptions</a></li>
          <li><a href="/class-objects">Class and Objects</a></li>
      </ul>
  </ul>
  </nav>
