<%- include("partials/header") -%>

<section class="about-content">
    <div class="grid-container about-grid">
        <div class="grid-item1">
            <img src="images/about.svg" alt="">
        </div>
        <div class="grid-item2">
            <h1>About Us</h1>
            <p>
                Hey there! We're CodeRun. <br>
                Python is a powerful general-purpose programming language nowadays, and it is used in web development, data science, creating software prototypes and so on.
                <br><br>
                Our Python tutorials will guide you to learn Python, one step at a time!
            </p>
        </div>
    </div>
</section>

<section class="about-image" style="background: url('images/aboutus.jpg');">
    <div class="abt-overlay"></div>
    <div class="about-flex-container">
        <div class="flex-box">
            <h2 class="abt-heading">Easy learning</h2>
            <p>We focus on simplicity, practicing is easy learning and smart work.</p>
        </div>
        <div class="flex-box">
            <h2 class="abt-heading">Free for use</h2>
            <p>CodeRun is and always will be a free resource for our developers.</p>
        </div>
        <div class="flex-box">
            <h2 class="abt-heading">Code & Learn</h2>
            <p>Use our code editor to test your python programs and see how much you know.</p>
        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br><br><br>
<section class="developers" style="background: url(images/gradient.svg)"><br>       
    <h1 class="dev-head">Our Team</h1>
    <div class="wrapper">
        <div class="carousel owl-carousel">
          <div class="card">
            <div class="content">
                <div><img src="images/vishnu.JPG" class="imgD" alt=""></div>
                <div class="text">
                    <h2 class="name">Vishnu Pillai</h2>
                    <h4 class="desg">Backend Developer<br><br>
                    <a href="https://www.instagram.com/the_programmer_0/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://github.com/Vishnu3125" target="_blank"><i class="fa fa-github"></i></a> 
                    <a href="https://www.linkedin.com/in/vishnu-pillai-b555521b1/" target="_blank"><i class="fa fa-linkedin" target="_blank"></i></a></h4>
                </div>
            </div>
          </div>
          
          
          <!-- <div class="card">
            <div class="content">
                <div><img src="images/janvi.JPG" class="imgD" alt=""></div>
                <div class="text">
                    <h2 class="name">Janvi Buddhadev</h2>
                    <h4 class="desg">Frontend Developer<br><br>
                    <a href="https://www.instagram.com/charismatic__.doll/" target="_blank"><i class="fa fa-instagram"></i> </a>
                    <a href="https://github.com/JanviBuddhadev" target="_blank"><i class="fa fa-github"></i> </a>
                    <a href="https://www.linkedin.com/in/janvi-buddhadev-322816178/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                </div>
            </div>
          </div> -->
          <!-- <div class="card">
            <div class="content">
                <div><img src="images/neha.JPG" class="imgD" alt=""></div>
                <div class="text">
                    <h2 class="name">Neha Thakkar</h2>
                    <h4 class="desg">Web Designer<br><br>
                        <a href="https://www.instagram.com/_nehaaaaaa_.__/" target="_blank"><i class="fa fa-instagram"></i> </a>
                        <a href="https://github.com/NehaThakkar25" target="_blank"><i class="fa fa-github"></i> </a>
                        <a href="https://www.linkedin.com/in/neha-thakkar-785a901b8/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                </div>
            </div>
          </div> -->
          <div class="card">
            <div class="content">
                <div><img src="images/riya.JPG" class="imgD" alt=""></div>
                <div class="text">
                    <h2 class="name">Riya Soni</h2>
                    <h4 class="desg">DBA, Passport Authenticator<br><br>
                        <a href="https://www.instagram.com/ri.yaaaaaa_06/" target="_blank"><i class="fa fa-instagram"></i> </a>
                        <a href="https://github.com/Riya6175" target="_blank"><i class="fa fa-github"></i> </a>
                        <a href="https://www.linkedin.com/in/riya-soni-a7b189181/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                </div>
            </div>
          </div>
          
          <!-- <div class="card">
            <div class="content">
                <div><img src="images/brijesh.JPG" class="imgD" alt=""></div>
                <div class="text">
                    <h2 class="name">Brijesh Bhalala</h2>
                    <h4 class="desg">Backend Developer<br><br>
                        <a href="https://www.instagram.com/brijesh_bd/" target="_blank"><i class="fa fa-instagram"></i> </a>
                        <a href="https://github.com/brijeshbd" target="_blank"><i class="fa fa-github"></i> </a>
                        <a href="https://www.linkedin.com/in/brijesh-bhalala-5a45181b4/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                </div>
            </div>
          </div> -->
          <div class="card">
            <div class="content">
                <div><img src="images/karnajeet.JPG" class="imgD" alt=""></div>
                <div class="text">
                    <h2 class="name">Karnajeet Sawant</h2>
                    <h4 class="desg">Frontend Developer<br><br>
                        <a href="https://www.instagram.com/karnajeet.sawant/" target="_blank"><i class="fa fa-instagram"></i> </a>
                        <a href="https://github.com/karnajeet12" target="_blank"><i class="fa fa-github"></i> </a>
                        <a href="https://www.linkedin.com/in/karnajeet-sawant-a5493a144/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                </div>
            </div>
          </div>
          
          <!-- <div class="card">
            <div class="content">
                <div><img src="images/kavisha.JPG" class="imgD" alt=""></div>
                <div class="text">
                    <h2 class="name">Kavisha Patel</h2>
                    <h4 class="desg">Frontend Developer<br><br>
                        <a href="https://www.instagram.com/kavisha_0325/" target="_blank"><i class="fa fa-instagram"></i> </a>
                        <a href="https://github.com/Kavisha2503" target="_blank"><i class="fa fa-github"></i> </a>
                        <a href="https://www.linkedin.com/in/kavisha-patel-54060118a/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                </div>
            </div>
          </div> -->
        </div>
    </div>
</section>
<%- include("partials/footer") -%>

