<%- include("partials/header") -%> 

<%- include("partials/side-nav") -%>
    
    <section class="ftco-content">
        <h2 class="page-title">Introduction to Python</h2>
        <nav class="links">

            <button class="btn-links" onclick="pdf_con()">PDF</button>
            <button class="btn-links" onclick="location.href='/overview'">Overview</button>
            <button class="btn-links" onclick="location.href='/environment-setup'">Environment Setup</button>
        </nav>
        <p class="content">
            Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. 
            It was created by Guido van Rossum during 1985- 1990. Like Perl, Python source code is also available under the GNU 
            General Public License (GPL). This tutorial gives enough understanding on Python programming language.
        </p>

        <h3 class="subtitle">Why to learn Python?</h3>
        <p class="content">
            Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed to 
            be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has fewer 
            syntactical constructions than other languages.
        </p>
        <p class="content">
            Python is a MUST for students and working professionals to become a great Software Engineer specially when they are 
            working in Web Development Domain. I will list down some of the key advantages of learning Python:
        </p>
        <ul class="content-bulletlist">
            <li><p class="topic">Python is Interpreted</p> − Python is processed at runtime by the interpreter. You do not need to compile your program before executing it. 
                This is similar to PERL and PHP.</li>
            <li><p class="topic">Python is Interactive</p> − You can actually sit at a Python prompt and interact with the interpreter directly to write your programs.</li>
            <li><p class="topic">Python is Object-Oriented</p> − Python supports Object-Oriented style or technique of programming that encapsulates code within objects.</li>
            <li><p class="topic">Python is a Beginner's Language</p> − Python is a great language for the beginner-level programmers and supports the development of a wide range 
                of applications from simple text processing to WWW browsers to games.</li>
        </ul>
        
        <h3 class="subtitle">Characteristics of Python</h3>
        <p class="content">Here are some of the important characteristics of Python Programming:</p>
        <ul class="content-bulletlist">
            <li>It supports functional and structured programming methods as well as OOP.</li>
            <li>It can be used as a scripting language or can be compiled to byte-code for building large applications.</li>
            <li>It provides very high-level dynamic data types and supports dynamic type checking.</li>
            <li>It supports automatic garbage collection.</li>
            <li>It can be easily integrated with C, C++, COM, ActiveX, CORBA, and Java.</li>
        </ul>

        <h3 class="subtitle">Hello World using Python</h3>
        <p class="content">Just to give you a little excitement about Python, I'm going to give you a small conventional Python Hello World program.<br>
            You can try it by writing this code in our code editor.</p>
        <aside class="code-frame">
            <p class="code">
                <span class="function">print</span> <span class="brackets">(</span><span class="disptxt">"Hello, Python!"</span><span class="brackets">)</span>;
            </p>
        </aside>

        <h3 class="subtitle">Applications of Python</h3>
        <p class="content">As mentioned before, Python is one of the most widely used language over the web. I'm going to list a few of the applications of python proramming:</p>
        <ul class="content-bulletlist">
            <li>Web Development</li>
            <li>Game Development</li>
            <li>Scientific and Numeric Applications</li>
            <li>Artificial Intelligence and Machine Learning</li>
            <li>Desktop GUI</li>
            <li>Software Development</li>
            <li>Enterprise-level / Bussiness Applications</li>
            <li>Education programs and training courses</li>
            <li>Language Development</li>
            <li>Operating Systems</li>
            <li>Web Scrapping Applications</li>
            <li>Image Processing and Graphic Design Applications</li>
        </ul>
        <hr>
        <nav class="page-links">
            <button class="btn-pglinks" onclick="pdf_con()">PDF Preview</button>
            <button class="btn-pglinks" onclick="location.href='/overview'">Next Page<i class="fa fa-angle-right"></i></button>
        </nav>
    </section>
<%- include ("partials/footer") -%>