<%- include("partials/header") -%>
<%- include("partials/side-nav") -%>

    <section class="ftco-content">
        <h2 class="page-title">Python - Overview</h2>
        <nav class="links">
            <button class="btn-links">PDF</button>
            <button class="btn-links" onclick="location.href='/introduction'">Introduction</button>
            <button class="btn-links" onclick="location.href='/environment-setup'">Environment Setup</button>
        </nav>
        <p class="content">
            Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed
            to be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has
            fewer syntactical constructions than other languages. 
        </p>
        <ul class="content-bulletlist">
            <li><p class="topic">Python is Interpreted</p> − Python is processed at runtime by the interpreter. You do not need 
                to compile your program before executing it. This is similar to PERL and PHP.</li>
            <li><p class="topic">Python is Interactive</p> − You can actually sit at a Python prompt and interact with the interpreter 
                directly to write your programs.</li>
            <li><p class="topic">Python is Object-Oriented</p> − Python supports Object-Oriented style or technique of programming that 
                encapsulates code within objects.</li>
            <li><p class="topic">Python is a Beginner's Language</p> − Python is a great language for the beginner-level programmers and 
                supports the development of a wide range of applications from simple text processing to WWW browsers to games.</li>
        </ul>

        <h3 class="subtitle">History of Python</h3>
        <p class="content">
            Python was developed by Guido van Rossum in the late eighties and early nineties at the National Research Institute for Mathematics 
            and Computer Science in the Netherlands. Python is derived from many other languages, including ABC, Modula-3, C, C++, Algol-68, SmallTalk, 
            and Unix shell and other scripting languages.
        </p>
        <p class="content">
            Python is copyrighted. Like Perl, Python source code is now available under the GNU General Public License (GPL). Python is now maintained 
            by a core development team at the institute, although Guido van Rossum still holds a vital role in directing its progress.
        </p>

        <h3 class="subtitle">Python Features</h3>
        <p class="content">
            The features of Python Programming are listes below:
        </p>
        <ul class="content-bulletlist">
            <li><p class="topic">Easy-to-learn</p> − Python has few keywords, simple structure, and a clearly defined syntax. This allows the student to pick up the language quickly.</li>
            <li><p class="topic">Easy-to-read</p> − Python code is more clearly defined and visible to the eyes.</li>
            <li><p class="topic">Easy-to-maintain</p> − Python's source code is fairly easy-to-maintain.</li>
            <li><p class="topic">A broad standard library</p> − Python's bulk of the library is very portable and cross-platform compatible on UNIX, Windows, and Macintosh.</li>
            <li><p class="topic">Interactive Mode</p> − Python has support for an interactive mode which allows interactive testing and debugging of snippets of code.</li>
            <li><p class="topic">Portable</p> − Python can run on a wide variety of hardware platforms and has the same interface on all platforms.</li>
            <li><p class="topic">Extendable</p> − You can add low-level modules to the Python interpreter. These modules enable programmers to add to or customize their tools to be more efficient.</li>
            <li><p class="topic">Databases</p> − Python provides interfaces to all major commercial databases.</li>
            <li><p class="topic">GUI Programming</p> − Python supports GUI applications that can be created and ported to many system calls, libraries and windows systems, such as Windows MFC, Macintosh, and the X Window system of Unix.</li>
            <li><p class="topic">Scalable</p> − Python provides a better structure and support for large programs than shell scripting.</li>
        </ul>

        <p class="content">
            Apart from the above-mentioned features, Python has a big list of good features, few are listed below:
        </p>

        <ul class="content-bulletlist">
            <li>It supports functional and structured programming methods as well as OOP.</li>
            <li>It can be used as a scripting language or can be compiled to byte-code for building large applications.</li>
            <li>It provides very high-level dynamic data types and supports dynamic type checking.</li>
            <li>It supports automatic garbage collection.</li>
            <li>It can be easily integrated with C, C++, COM, ActiveX, CORBA, and Java.</li>
        </ul>
        
        <hr>
        <nav class="page-links">
            <button class="btn-pglinks" onclick="location.href='/introduction'"><i class="fa fa-angle-left"></i>Previous Page</button>
            <button class="btn-pglinks">PDF Preview</button>
            <button class="btn-pglinks" onclick="location.href='/environment-setup'">Next Page<i class="fa fa-angle-right"></i></button>
        </nav>
    </section>
<%- include("partials/footer") -%>